.app-footer nav {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    z-index: 1000;
}

.nav-item {
    color: var(--text-light);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-item i {
    font-size: 1.5rem;
}

.nav-item.active {
    color: var(--primary-bg);
}


.nav-item:hover {
    color: var(--text-muted);
}
